<div class="header">
    <div class="nesto-container">
        <div class="header__container">
            <img class="header__logo" src="assets/images/logo.svg" alt="nesto-logo" />

            <div class="header__nav">
                <a class="nav-item"> login </a>
                <a class="nav-item"> cart(0) </a>
                <a class="nav-item"> <img src="assets/images/search.svg" /> </a>
                <a class="nav-item"> <img src="assets/images/burger.svg" /> </a>
            </div>
        </div>
    </div>
</div>

<!-- Page title + Breadcrumb -->
<div class="nesto-section">
    <div class="nesto-container">
        <span class="nesto-breadcrumb">
            <a href="#">HOME</a>/ <a href="#">PRODUCT</a>
        </span>
        <h1 class="text-60 text-uppercase fw-100">About</h1>
    </div>
</div>
<div class="nesto-container">
    <div class="separator"></div>
</div>

<!-- About us -->
<section class="nesto-section">
    <div class="nesto-container container-left">
        <div class="row">
            <div class="col-5 d-flex align-items-center">
                <h2 class="text-40 fw-400">Nesto is a platform exploring aesthetics, functionality, and craftsmanship
                    design for your space.</h2>
            </div>

            <div class="col-7">
                <img class="w-100" src="assets/images/about-1.png" />
            </div>
        </div>
    </div>
    <div class="nesto-container mt-100">
        <div class="row">
            <div class="col-4">
                <img class="w-100" src="assets/images/about-2.png" />
            </div>

            <div class="col-1">
            </div>

            <div class="col-6 d-flex flex-column justify-content-center">
                <h3 class="text-40 fw-400">Nesto was established in 2022.
                    We are headquartered in Hanoi, and have offices and showroom across Vietnam.</h3>
                <p class="text-16 fw-400 mt-62">Founded in 2010, Lambert & Fils is a contemporary lighting studio that
                    creates
                    original collections and collaborates with emerging designers around the world. Preserving the bond
                    between design and making, all lighting is handmade in the Lambert & Fils atelier in the heart of
                    Montreal. </p>
            </div>
        </div>
    </div>
    <div class="nesto-container mt-100">
        <div class="row justify-content-center">
            <div class="col-10">
                <img class="w-100" src="assets/images/about-3.png" alt="a">
            </div>

            <div class="col-5 mt-62">
                <h3 class="text-40 fw-400">We handpick leading contemporary designers who are strong interpreters of our
                    philosophy and combine their talents with the passionate Nesto team. </h3>
            </div>

            <div class="col-5 mt-62 d-flex align-items-center">
                <p class="text-16 fw-400">We handpick leading contemporary designers who are strong interpreters of our
                    philosophy and combine their talents with the passionate Nesto team. </p>
            </div>
        </div>
    </div>
</section>
<div class="nesto-container">
    <div class="separator"></div>
</div>

<!-- About us product -->
<div class="nesto-section">
    <div class="nesto-container mt-62">
        <div class="row justify-content-between">
            <div class="col-3">
                <img class="w-100" alt="" src="assets/images/about-4.png">
                <a href="#" class="mt-24 text-20 fw-400 reset-link t-white">Products</a>

            </div>

            <div class="col-3">
                <img class="w-100" alt="" src="assets/images/about-4.png">
                <a href="#" class="mt-24 text-20 fw-400 reset-link t-white">Partnership</a>
            </div>

            <div class="col-3">
                <img class="w-100" alt="" src="assets/images/about-4.png">
                <a href="#" class="mt-24 text-20 fw-400 reset-link t-white">Career</a>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER -->
<footer class="nesto-footer">
    <div class="nesto-container">
        <div class="row gx-3">
            <div class="col-3 d-flex flex-column justify-content-between">
                <img class="w-fit" src="assets/images/logo_on_dark.svg" alt="dark-logo" />

                <nav class="nav-item">hello@nesto.vn </nav>

                <nav class="nav-item">©2022, Nesto. All rights reserved. </nav>
            </div>

            <div class="col-6">
                <div class="row">
                    <div class="col-5">
                        <span class="nesto-footer__nav-title">CUSTOMER CARE</span>

                        <nav class="nav-item">FAQ & Support</nav>
                        <nav class="nav-item">Ordering & Shipping</nav>
                        <nav class="nav-item">Returns & Exchanges</nav>
                        <nav class="nav-item">Partnership</nav>
                    </div>

                    <div class="col-4">
                        <span class="nesto-footer__nav-title">ABOUT</span>

                        <nav class="nav-item">About</nav>
                        <nav class="nav-item">Careers</nav>
                        <nav class="nav-item">Blog</nav>
                        <nav class="nav-item">Contact</nav>
                    </div>

                    <div class="col-3">
                        <span class="nesto-footer__nav-title">CONNECT</span>

                        <nav class="nav-item">Facebook</nav>
                        <nav class="nav-item">Instagram</nav>
                        <nav class="nav-item">Youtube</nav>
                    </div>

                    <div class="col-12 payment-list">
                        <a><img src="assets/images/visa.svg" /></a>
                        <a><img src="assets/images/master-card.svg" /></a>
                        <a><img src="assets/images/jcb.svg" /></a>
                        <a><img src="assets/images/paypal.svg" /></a>
                        <a><img src="assets/images/momo.svg" /></a>
                        <a><img src="assets/images/zalopay.svg" /></a>

                    </div>
                </div>

            </div>

            <div class="col-3">
                <span class="nesto-footer__nav-title">Sign up FOR 200,000 OFF YOUR FIRST ORDER.</span>

                <div class="nesto-input" style="margin-top: -10px;">
                    <input type="text" required="required" /><span class="highlight"></span><span class="bar"></span>
                    <label>Email/phone number</label>
                </div>

                <div class="nesto-input mt-1">
                    <input type="text" required="required" /><span class="highlight"></span><span class="bar"></span>
                    <label>Password</label>
                </div>

                <div class="nesto-input mt-1">
                    <input type="text" required="required" /><span class="highlight"></span><span class="bar"></span>
                    <label>Re-enter password</label>
                </div>

                <div class="mt-3 row align-items-center justify-content-between">
                    <div class="col-6">
                        <div class="nesto-input">
                            <input type="text" required="required" /><span class="highlight"></span><span
                                class="bar"></span>
                            <label>Or sign up with Facebook</label>
                        </div>
                    </div>

                    <div class="col-5">
                        <button class="nesto-btn w-100">SIGN UP</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>