<div class="header">
    <div class="nesto-container">
        <div class="header__container">
            <img class="header__logo" src="assets/images/logo.svg" alt="nesto-logo" />

            <div class="header__nav">
                <a class="nav-item"> login </a>
                <a class="nav-item"> cart(0) </a>
                <a class="nav-item"> <img src="assets/images/search.svg" /> </a>
                <a class="nav-item"> <img src="assets/images/burger.svg" /> </a>
            </div>
        </div>
    </div>
</div>

<!-- Page title + Breadcrumb -->
<div class="nesto-section">
    <div class="nesto-container">
        <span class="nesto-breadcrumb">
            <a href="#">HOME</a>/ <a href="#">PRODUCT</a>
        </span>
        <h1 class="text-60 text-uppercase fw-100">partner ship</h1>
    </div>
</div>
<div class="nesto-container">
    <div class="separator"></div>
</div>

<!-- Nesto-->
<section class="nesto-section">
    <div class="nesto-container container-left">
        <div class="row justify-content-between gy-5">
            <div class="col-5">
                <p class="text-24 fw-300"> Please send us an e-mail with a description of your business to <a href="#"
                        class="text-blur reset-link">partner@nesto.vn</a>
                </p>
            </div>

            <div class="col-5">
                <h1 class="text-48 fw-400 w-85">We’re always in search of worldwide partner.</h1>
            </div>

            <div class="col-12">
                <img class="w-100" alt="career" src="assets/images/partner-1.png">
            </div>
        </div>
    </div>

    <div class="nesto-container mt-100">
        <div class="row  justify-content-between">
            <div class="col-4">
                <h2 class="text-40 fw-400">Become our partner to grow together</h2>
            </div>

            <div class="col-6">
                <p class="text-16 fw-400">To us, our suppliers and service providers are some of our most important
                    partners for development. Together we grow and expand our businesses, and explore new ways to do it
                    in a socially and environmentally responsible way. We share the responsibility to make sure that the
                    unique Nesto range is produced at the right time, right volume, right quality, and at a low cost to
                    an ever-expanding customer base. Thanks to our ambitious growth plans, we are always on the look-out
                    for new partners that share our values and our ambitions to become people and planet positive.</p>
            </div>
        </div>
    </div>

    <!-- Why nesto -->
    <div class="nesto-container mt-100">
        <div class="row justify-content-between">
            <div class="col-6 ">
                <div class="row">
                    <div class="col-6">
                        <img class="w-100" src="assets/images/partner-a.png" alt="">
                    </div>
                    <div class="col-6">
                        <img class="w-100" src="assets/images/partner-b.png" alt="">
                    </div>
                </div>
            </div>

            <div class="col-5 d-flex flex-column justify-content-center align-items-end">
                <h3 class="text-40 fw-400">Why Nesto?</h3>
                <p class="text-16 fw-400 text-end">The Neolith® product has become a national and international
                    benchmark within
                    the sector in which it
                    operates, being present in more than 70 different countries. A wide distribution network,
                    architects, interior designers and designers from around the world use Neolith® as the main material
                    for their prestigious global projects.</p>
                <a href="#" class="nesto-link mt-3 text-14">about us</a>
            </div>
        </div>
    </div>

    <!-- out partner -->
    <div class="nesto-container mt-100">
        <div class="row">
            <div class="col-5">
                <h3 class="text-40 fw-400">Our partners</h3>
            </div>

            <div class="col-7">
                <div class="row g-4">
                    <div class="col-3 mt-5">
                        <img src="assets/images/partner-3.png">
                    </div>
                    <div class="col-3 mt-5">
                        <img src="assets/images/partner-4.png">
                    </div>
                    <div class="col-3 mt-5">
                        <img src="assets/images/partner-5.png">
                    </div>
                    <div class="col-3 mt-5">
                        <img src="assets/images/partner-6.png">
                    </div>
                    <div class="col-3 mt-5">
                        <img src="assets/images/partner-7.png">
                    </div>
                    <div class="col-3 mt-5">
                        <img src="assets/images/partner-8.png">
                    </div>
                    <div class="col-3 mt-5">
                        <img src="assets/images/partner-9.png">
                    </div>
                    <div class="col-3 mt-5">
                        <img src="assets/images/partner-10.png">
                    </div>
                    <div class="col-3 mt-5">
                        <img src="assets/images/partner-11.png">
                    </div>
                    <div class="col-3 mt-5">
                        <img src="assets/images/partner-12.png">
                    </div>
                    <div class="col-3 mt-5">
                        <img src="assets/images/partner-13.png">
                    </div>
                    <div class="col-3 mt-5">
                        <img src="assets/images/partner-14.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="nesto-container">
    <div class="separator"></div>
</div>

<!-- FOOTER -->
<footer class="nesto-footer">
    <div class="nesto-container">
        <div class="row gx-3">
            <div class="col-3 d-flex flex-column justify-content-between">
                <img class="w-fit" src="assets/images/logo_on_dark.svg" alt="dark-logo" />

                <nav class="nav-item">hello@nesto.vn </nav>

                <nav class="nav-item">©2022, Nesto. All rights reserved. </nav>
            </div>

            <div class="col-6">
                <div class="row">
                    <div class="col-5">
                        <span class="nesto-footer__nav-title">CUSTOMER CARE</span>

                        <nav class="nav-item">FAQ & Support</nav>
                        <nav class="nav-item">Ordering & Shipping</nav>
                        <nav class="nav-item">Returns & Exchanges</nav>
                        <nav class="nav-item">Partnership</nav>
                    </div>

                    <div class="col-4">
                        <span class="nesto-footer__nav-title">ABOUT</span>

                        <nav class="nav-item">About</nav>
                        <nav class="nav-item">Careers</nav>
                        <nav class="nav-item">Blog</nav>
                        <nav class="nav-item">Contact</nav>
                    </div>

                    <div class="col-3">
                        <span class="nesto-footer__nav-title">CONNECT</span>

                        <nav class="nav-item">Facebook</nav>
                        <nav class="nav-item">Instagram</nav>
                        <nav class="nav-item">Youtube</nav>
                    </div>

                    <div class="col-12 payment-list">
                        <a><img src="assets/images/visa.svg" /></a>
                        <a><img src="assets/images/master-card.svg" /></a>
                        <a><img src="assets/images/jcb.svg" /></a>
                        <a><img src="assets/images/paypal.svg" /></a>
                        <a><img src="assets/images/momo.svg" /></a>
                        <a><img src="assets/images/zalopay.svg" /></a>

                    </div>
                </div>

            </div>

            <div class="col-3">
                <span class="nesto-footer__nav-title">Sign up FOR 200,000 OFF YOUR FIRST ORDER.</span>

                <div class="nesto-input" style="margin-top: -10px;">
                    <input type="text" required="required" /><span class="highlight"></span><span class="bar"></span>
                    <label>Email/phone number</label>
                </div>

                <div class="nesto-input mt-1">
                    <input type="text" required="required" /><span class="highlight"></span><span class="bar"></span>
                    <label>Password</label>
                </div>

                <div class="nesto-input mt-1">
                    <input type="text" required="required" /><span class="highlight"></span><span class="bar"></span>
                    <label>Re-enter password</label>
                </div>

                <div class="mt-3 row align-items-center justify-content-between">
                    <div class="col-6">
                        <div class="nesto-input">
                            <input type="text" required="required" /><span class="highlight"></span><span
                                class="bar"></span>
                            <label>Or sign up with Facebook</label>
                        </div>
                    </div>

                    <div class="col-5">
                        <button class="nesto-btn w-100">SIGN UP</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>