<div class="header">
    <div class="container-xxl">
        <div class="header__container">
            <img class="header__logo" src="assets/images/logo.svg" alt="nesto-logo" />

            <div class="header__nav">
                <a class="nav-item"> login </a>
                <a class="nav-item"> cart(0) </a>
                <a class="nav-item"> <img src="assets/images/search.svg" /> </a>
                <a class="nav-item"> <img src="assets/images/burger.svg" /> </a>
            </div>
        </div>
    </div>
</div>

<!-- Filter / BREADCRUMB -->
<div class="nesto-section">
    <div class="container-xxl">
        <span class="nesto-breadcrumb">
            <a href="#">HOME</a> / <a href="#">PRODUCT</a> / <a href="#">PRODUCT A</a>
        </span>
    </div>

    <div class="container-xxl mt-62">
        <div class="d-flex">
            <div class="flex-grow-1 row nesto-filter__nav">
                <div class="col item active">
                    All
                </div>
                <div class="col item">
                    Living room
                </div>
                <div class="col item">
                    Bathroom
                </div>
                <div class="col item">
                    Bedroom
                </div>

                <div class="col item">
                    Outdoor
                </div>
            </div>

            <div class="nesto-input text-12" style="margin-left: 42px;">
                <input type="text" required="required" /><span class="highlight"></span><span class="bar"></span>
                <label>Search</label>
            </div>

            <button style="margin-left: 42px;" class="nesto-btn text-12 nesto-filter__collapse-btn"
                data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="false"
                aria-controls="collapseFilter">
                <span class="show-text">
                    Show Filters
                </span>
                <span class="hide-text">
                    Hide Filters
                </span>
            </button>
        </div>
    </div>

    <div class="container-xxl collapse" id="collapseFilter">
        <div class="row justify-content-start mt-50 nesto-filter__filter">
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label" for="">
                        TILE
                    </label>
                </div>

                <div class="form-check-child">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                        <label class="form-check-label" for="">
                            Stone
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                        <label class="form-check-label" for="">
                            Ceramics
                        </label>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label" for="">
                        INTERIOR
                    </label>
                </div>

                <div class="form-check-child">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                        <label class="form-check-label" for="">
                            Seating
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                        <label class="form-check-label" for="">
                            Bed
                        </label>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label" for="">
                        TILE
                    </label>
                </div>

                <div class="form-check-child">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                        <label class="form-check-label" for="">
                            Stone
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                        <label class="form-check-label" for="">
                            Ceramics
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                        <label class="form-check-label" for="">
                            Stone
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                        <label class="form-check-label" for="">
                            Ceramics
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                        <label class="form-check-label" for="">
                            Stone
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                        <label class="form-check-label" for="">
                            Ceramics
                        </label>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label" for="">
                        INTERIOR
                    </label>
                </div>

                <div class="form-check-child">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                        <label class="form-check-label" for="">
                            Seating
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                        <label class="form-check-label" for="">
                            Bed
                        </label>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label" for="">
                        TILE
                    </label>
                </div>

                <div class="form-check-child">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                        <label class="form-check-label" for="">
                            Stone
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                        <label class="form-check-label" for="">
                            Ceramics
                        </label>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label" for="">
                        INTERIOR
                    </label>
                </div>

                <div class="form-check-child">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                        <label class="form-check-label" for="">
                            Seating
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                        <label class="form-check-label" for="">
                            Bed
                        </label>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label" for="">
                        TILE
                    </label>
                </div>

                <div class="form-check-child">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                        <label class="form-check-label" for="">
                            Stone
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                        <label class="form-check-label" for="">
                            Ceramics
                        </label>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label" for="">
                        INTERIOR
                    </label>
                </div>

                <div class="form-check-child">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                        <label class="form-check-label" for="">
                            Seating
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="">
                        <label class="form-check-label" for="">
                            Bed
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="nesto-section mt-unset">
    <div class="container-xxl">
        <h2 class="text-24 fw-300">PRODUCT DETAIL</h2>
    </div>

    <div class="container-fluid mt-62">
        <div class="row reset-padding justify-content-between">
            <div class="col-7">
                <div class="w-100">
                    <img class="w-100" src="assets/images/home-landing.png" alt="home-landing" />
                </div>
            </div>

            <div class="col-4">
                <div class="product-detail__right-side">
                    <p class="mb-16 text-16">Brand: Muuto</p>

                    <h1 class="text-30 fw-400 mb-16 text-uppercase">OUTLINE SOFA, 2 - seater</h1>

                    <p class="mb-34 text-white-blur">SKU: 95005</p>

                    <div class="d-flex justify-content-between align-items-end mb-18">
                        <span>453,700,000đ</span> <span>Unit: piece</span>
                    </div>

                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>

                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>

                    <div class="d-flex align-items-center">
                        <span>Quantity: </span>
                        <div class="input-group ms-3" style="width: 125px;">
                            <span class="input-group-text">-</span>
                            <input type="number" class="form-control" placeholder="1" aria-label="1">
                            <span class="input-group-text">+</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl mt-50">
        <p class="text-16">2 / 5</p>
    </div>
</div>