<!-- HEADER -->
<div class="header">
    <div class="nesto-container">
        <div class="header__container">
            <img class="header__logo" src="assets/images/logo.svg" alt="nesto-logo" />

            <div class="header__nav">
                <a class="nav-item"> login </a>
                <a class="nav-item"> cart(0) </a>
                <a class="nav-item" data-bs-toggle="modal" data-bs-target="#headerMenu"> <img
                        src="assets/images/search.svg" /> </a>
                <a class="nav-item" data-bs-toggle="modal" data-bs-target="#headerMenu"> <img
                        src="assets/images/burger.svg" /> </a>
            </div>
        </div>
    </div>
</div>

<!-- Header Menu -->
<div class="modal fade" id="headerMenu" tabindex="-1" role="dialog" aria-labelledby="headerMenuLabel"
    aria-hidden="true">
    <div class="modal-dialog header-menu" role="document">
        <div class="modal-content header-menu">
            <div class="header --dark --on-meu">
                <div class="nesto-container">
                    <div class="header__container">
                        <img class="header__logo" src="assets/images/logo_on_dark.svg" alt="nesto-logo" />

                        <div class="header__nav">
                            <a class="nav-item"> login </a>
                            <a class="nav-item"> cart(0) </a>
                            <a class="nav-item"> <img src="assets/images/search-white.png" /> </a>
                            <a class="nav-item" data-bs-dismiss="modal"> <img src="assets/images/close.png" /> </a>
                        </div>
                    </div>
                </div>

                <div class="nesto-container mt-50">
                    <div class="row justify-content-between">
                        <div class="col-4">
                            <a class="mt-32 reset-link text-60 fw-300 text-uppercase link-hoverable --active"
                                href="#">products</a>
                            <a class="mt-32 reset-link text-60 fw-300 text-uppercase link-hoverable"
                                href="#">collection</a>
                            <a class="mt-32 reset-link text-60 fw-300 text-uppercase link-hoverable"
                                href="#">stories</a>
                        </div>
                        <div class="col-5 d-flex flex-column justify-content-end    ">
                            <div class="nesto-input">
                                <input type="text" required="required" /><span class="highlight"></span><span
                                    class="bar text-blur"></span>
                                <label class="text-blur">SEARCH</label>
                                <div class="icon">
                                    <span class="mat-icon">search</span>
                                </div>
                                <div class="clear">
                                    <span class="mat-icon">close</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nesto-container mb-100 mt-auto">
                    <div class="row">
                        <div class="col-1">
                            <a class="mt-24 text-12 reset-link link-hoverable d-flex align-items-center">Facebook
                                <span class="material-symbols-outlined text-12 icon ms-1">arrow_outward</span>
                            </a>
                            <a class="mt-24 text-12 reset-link link-hoverable d-flex align-items-center">Instagram
                                <span class="material-symbols-outlined text-12 icon ms-1">arrow_outward</span>
                            </a>
                            <a class="mt-24 text-12 reset-link link-hoverable d-flex align-items-center">Twitter
                                <span class="material-symbols-outlined text-12 icon ms-1">arrow_outward</span>
                            </a>
                        </div>

                        <div class="col d-flex flex-column justify-content-end">
                            <div class="row justify-content-end gx-75">
                                <div class="col-auto">
                                    <a class="mt-24 text-14 reset-link link-hoverable" href="#">About</a>
                                </div>

                                <div class="col-auto">
                                    <a class="mt-24 text-14 reset-link link-hoverable">CAREERS</a>
                                </div>

                                <div class="col-auto">
                                    <a class="mt-24 text-14 reset-link link-hoverable">BLOG</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- HOME LANDING -->
<section class="home-landing">
    <div class="nesto-container home-landing__title">
        <h1>PRODUCTS</h1>
    </div>

    <div class="nesto-container container-left">
        <div class="row justify-content-end">
            <div class="col-5 d-flex flex-column align-items-end">
                <h2 class="home-landing__description">
                    Our wide-ranging variety of interiors demonstrates an affinity for
                    clean lines, textural volumes, and understated details.
                </h2>

                <a href="#" class="text-14 mt-3 nesto-link">see all interiors</a>

                <div class="home-landing__left-nav">
                    <a class="nav-item active">seating</a>
                    <a class="nav-item">table</a>
                    <a class="nav-item">bed</a>
                    <a class="nav-item">storage</a>
                </div>
            </div>

            <div class="col-7">
                <div class="home-landing__right-nav">
                    <div class="row justify-content-between">
                        <a class="nav-item col">TITLES</a>
                        <a class="nav-item col">LIGHTING</a>
                        <a class="nav-item col active">INTERIOR</a>
                        <a class="nav-item col">DECORATION</a>
                    </div>

                </div>
                <div class="home-landing__img">
                    <img src="assets/images/home-landing.png" alt="home-landing" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SEAT SECTION -->
<section class="nesto-section">
    <h2 class="nesto-section__title">SEATING</h2>

    <div class="nesto-container">
        <div class="row gx-5">
            <div class="col-6">
                <div class="product-card">
                    <div class="product-card__image">
                        <img class="image-1" src="assets/images/home-seat-1.png" alt="product-card" />
                        <img class="image-2" src="assets/images/home-seat-2.png" alt="product-card" />
                    </div>

                    <div class="product-card__title">WARM BROWN BIRCH</div>
                    <div class="product-card__price">20,000,000 <span class="currency">đ</span></div>
                </div>
            </div>

            <div class="col-6">
                <div class="product-card">
                    <img class="product-card__image" src="assets/images/home-seat-2.png" alt="product-card" />

                    <div class="product-card__title">WARM BROWN BIRCH</div>
                    <div class="product-card__price">20,000,000đ</div>
                </div>
            </div>
        </div>

        <div class="row gx-5 mt-80">
            <div class="col-4">
                <div class="product-card">
                    <img class="product-card__image" src="assets/images/home-seat-3.png" alt="product-card" />

                    <div class="product-card__title">WARM BROWN BIRCH</div>
                    <div class="product-card__price">20,000,000đ</div>
                </div>
            </div>

            <div class="col-4">
                <div class="product-card">
                    <img class="product-card__image" src="assets/images/home-seat-3.png" alt="product-card" />

                    <div class="product-card__title">WARM BROWN BIRCH</div>
                    <div class="product-card__price">20,000,000đ</div>
                </div>
            </div>

            <div class="col-4">
                <div class="product-card">
                    <img class="product-card__image" src="assets/images/home-seat-3.png" alt="product-card" />

                    <div class="product-card__title">WARM BROWN BIRCH</div>
                    <div class="product-card__price">20,000,000đ</div>
                </div>
            </div>
        </div>

        <div class="row gx-5 mt-80">
            <div class="col-8">
                <div class="product-card">
                    <img class="product-card__image" src="assets/images/home-seat-6.png" alt="product-card" />

                    <div class="product-card__title">WARM BROWN BIRCH</div>
                    <div class="product-card__price">20,000,000đ</div>
                </div>
            </div>

            <div class="col-4">
                <div class="product-card">
                    <img class="product-card__image" src="assets/images/home-seat-7.png" alt="product-card" />

                    <div class="product-card__title">WARM BROWN BIRCH</div>
                    <div class="product-card__price">20,000,000đ</div>
                </div>
            </div>
        </div>

        <div class="nesto-section__sea-all">
            <span> See all interiors </span>
        </div>
    </div>
</section>

<div class="nesto-container">
    <div class="separator"></div>
</div>

<!-- SEAT SECTION -->
<section class="nesto-section nesto-container">
    <div class="nesto-section__header">
        <div class="nesto-section__sub-title">Choose your space</div>

        <div class="nesto-section__nav">
            <div class="row">
                <div class="col nav-item active">Living room</div>
                <div class="col nav-item">Bath room</div>
                <div class="col nav-item">Kitchen</div>
                <div class="col nav-item">Bed room</div>
                <div class="col nav-item">Our door</div>
            </div>
        </div>

        <div class="nesto-section__title2">SPACE</div>
    </div>

    <div class="nesto-section__carousel">
        <div class="row gx-4">
            <div class="col-9">
                <img class="main-carousel-img w-100" src="assets/images/home-space-1.png" alt="seat" />
            </div>

            <div class="col-3 d-flex align-items-center">
                <img class="main-carousel-sub-img w-100" src="assets/images/home-space-2.png" alt="seat" />
            </div>
        </div>

        <a class="see-all-btn" href="#"> discover space </a>
    </div>
</section>

<div class="nesto-container">
    <div class="separator"></div>
</div>

<!-- LIVING ROOM SECTION -->
<section class="nesto-section">
    <h2 class="nesto-section__title">LIVING ROOM</h2>

    <div class="nesto-container">
        <div class="row gx-5">
            <div class="col-8">
                <div class="product-card">
                    <img class="product-card__image" src="assets/images/home-seat-6.png" alt="product-card" />

                    <div class="product-card__title">WARM BROWN BIRCH</div>
                    <div class="product-card__price">20,000,000đ</div>
                </div>
            </div>

            <div class="col-4">
                <div class="product-card">
                    <img class="product-card__image" src="assets/images/home-seat-7.png" alt="product-card" />

                    <div class="product-card__title">WARM BROWN BIRCH</div>
                    <div class="product-card__price">20,000,000đ</div>
                </div>
            </div>
        </div>

        <div class="row gx-5 mt-80">
            <div class="col-4">
                <div class="product-card">
                    <img class="product-card__image" src="assets/images/home-seat-3.png" alt="product-card" />

                    <div class="product-card__title">WARM BROWN BIRCH</div>
                    <div class="product-card__price">20,000,000đ</div>
                </div>
            </div>

            <div class="col-4">
                <div class="product-card">
                    <img class="product-card__image" src="assets/images/home-seat-3.png" alt="product-card" />

                    <div class="product-card__title">WARM BROWN BIRCH</div>
                    <div class="product-card__price">20,000,000đ</div>
                </div>
            </div>

            <div class="col-4">
                <div class="product-card">
                    <img class="product-card__image" src="assets/images/home-seat-3.png" alt="product-card" />

                    <div class="product-card__title">WARM BROWN BIRCH</div>
                    <div class="product-card__price">20,000,000đ</div>
                </div>
            </div>
        </div>

        <div class="row gx-5 mt-80">
            <div class="col-6">
                <div class="product-card">
                    <img class="product-card__image" src="assets/images/home-seat-1.png" alt="product-card" />

                    <div class="product-card__title">WARM BROWN BIRCH</div>
                    <div class="product-card__price">20,000,000đ</div>
                </div>
            </div>

            <div class="col-6">
                <div class="product-card">
                    <img class="product-card__image" src="assets/images/home-seat-2.png" alt="product-card" />

                    <div class="product-card__title">WARM BROWN BIRCH</div>
                    <div class="product-card__price">20,000,000đ</div>
                </div>
            </div>
        </div>

        <div class="nesto-section__sea-all">
            <span> See all interiors </span>
        </div>
    </div>
</section>

<div class="nesto-container">
    <div class="separator"></div>
</div>

<!-- COLLECTION -->
<section class="nesto-section">
    <div class="nesto-container">
        <div class="nesto-section__header align-items-start">
            <div class="nesto-section__title2">Collection</div>

            <div class="flex-grow-1 d-flex justify-content-start align-items-center flex-column">
                <h2 class="text-24 fw-300 text-uppercase mb-16">The 2023 collection</h2>
                <span class="text-14 fw-300"> An exclusive selection of us </span>
            </div>

            <div class="nesto-section__sub-title">
                <button class="nesto-btn">DOWNLOAD CATALOGUE</button>
            </div>
        </div>
    </div>

    <div class="nesto-container container-left">
        <div class="nesto-image">
            <img src="assets/images/home-collection-1.png" />
        </div>
    </div>
</section>

<div class="nesto-container">
    <div class="separator"></div>
</div>

<!-- BRAND -->
<section class="nesto-section">
    <div class="nesto-container">
        <div class="nesto-section__header justify-content-between">
            <div class="nesto-section__sub-title">Know the stories.</div>

            <a class="nesto-link">Meet the brands. Know the designers. Read the stories.</a>
        </div>

        <div class="w-100%">
            <div class="row justify-content-between">
                <div class="col-6">
                    <img src="assets/images/home-brand-1.png" alt="abc" class="w-100%" />
                </div>

                <div class="col-5 d-flex flex-column justify-content-center">
                    <span>Muuto is rooted in the Scandinavian design tradition characterized by enduring aesthetics,
                        functionality,
                        craftsmanship and an honest expression. By expanding this heritage with forward-looking
                        materials,
                        techniques
                        and bold creative thinking, our ambition is to deliver new perspectives on Scandinavian design.
                    </span>

                    <div class="separator mtb-6"></div>

                    <h2 class="text-48 w-75 fw-700">A space that feels just right.</h2>
                </div>
            </div>
        </div>

        <div class="mt-100 d-flex justify-content-end">
            <a class="nesto-link" href="#">read all stories</a>
        </div>
    </div>
</section>

<div class="nesto-container">
    <div class="separator"></div>
</div>

<!-- SHOWROOM -->
<section class="nesto-section">
    <div class="nesto-container">
        <div class="nesto-section__header justify-content-between">
            <div class="nesto-section__sub-title">Showroom</div>
            <div class="flex-grow-1 d-flex justify-content-start align-items-center flex-column">
                <h2 class="text-60 fw-300 text-uppercase">Visit our showroom</h2>
            </div>
            <div></div>
        </div>

        <div class="w-100">
            <div class="row gx-4 justify-content-end">
                <div class="col-4 d-flex flex-column justify-content-center">
                    <span>Our consultants are available to host you in-store and provide tailored guidance on purchases.
                    </span>
                    <div class="nesto-input mt-80 mb-34">
                        <input type="text" required="required" /><span class="highlight"></span><span
                            class="bar"></span>
                        <label>YOUR EMAIL</label>
                    </div>
                    <button class="nesto-btn w-fit ml-auto">GET INVITATION</button>
                </div>

                <div class="col-4">
                    <div class="nesto-image">
                        <img src="assets/images/home-showroom-1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="nesto-container">
    <div class="separator"></div>
</div>

<!-- BE OUR PARTNER -->
<section class="nesto-section">
    <div class="nesto-container">
        <div class="nesto-section__header justify-content-between align-items-start">
            <div class="nesto-section__sub-title">Be our partner</div>

            <div class="col-5">
                <h3 class="text-36 text-uppercase">We’re always in search of worldwide partner</h3>
            </div>

            <div class="col-3">
                Please send us an e-mail with a description of your business to
                partner@nesto.vn
            </div>
        </div>
    </div>
</section>


<!-- FOOTER -->
<footer class="nesto-footer">
    <div class="nesto-container">
        <div class="row gx-3">
            <div class="col-3 d-flex flex-column justify-content-between">
                <img class="w-fit" src="assets/images/logo_on_dark.svg" alt="dark-logo" />

                <nav class="nav-item">hello@nesto.vn </nav>

                <nav class="nav-item">©2022, Nesto. All rights reserved. </nav>
            </div>

            <div class="col-6">
                <div class="row">
                    <div class="col-5">
                        <span class="nesto-footer__nav-title">CUSTOMER CARE</span>

                        <nav class="nav-item">FAQ & Support</nav>
                        <nav class="nav-item">Ordering & Shipping</nav>
                        <nav class="nav-item">Returns & Exchanges</nav>
                        <nav class="nav-item">Partnership</nav>
                    </div>

                    <div class="col-4">
                        <span class="nesto-footer__nav-title">ABOUT</span>

                        <nav class="nav-item">About</nav>
                        <nav class="nav-item">Careers</nav>
                        <nav class="nav-item">Blog</nav>
                        <nav class="nav-item">Contact</nav>
                    </div>

                    <div class="col-3">
                        <span class="nesto-footer__nav-title">CONNECT</span>

                        <nav class="nav-item">Facebook</nav>
                        <nav class="nav-item">Instagram</nav>
                        <nav class="nav-item">Youtube</nav>
                    </div>

                    <div class="col-12 payment-list">
                        <a><img src="assets/images/visa.svg" /></a>
                        <a><img src="assets/images/master-card.svg" /></a>
                        <a><img src="assets/images/jcb.svg" /></a>
                        <a><img src="assets/images/paypal.svg" /></a>
                        <a><img src="assets/images/momo.svg" /></a>
                        <a><img src="assets/images/zalopay.svg" /></a>

                    </div>
                </div>

            </div>

            <div class="col-3">
                <span class="nesto-footer__nav-title">Sign up FOR 200,000 OFF YOUR FIRST ORDER.</span>

                <div class="nesto-input" style="margin-top: -10px;">
                    <input type="text" required="required" /><span class="highlight"></span><span class="bar"></span>
                    <label>Email/phone number</label>
                </div>

                <div class="nesto-input mt-1">
                    <input type="text" required="required" /><span class="highlight"></span><span class="bar"></span>
                    <label>Password</label>
                </div>

                <div class="nesto-input mt-1">
                    <input type="text" required="required" /><span class="highlight"></span><span class="bar"></span>
                    <label>Re-enter password</label>
                </div>

                <div class="mt-3 row align-items-center justify-content-between">
                    <div class="col-6">
                        <div class="nesto-input">
                            <input type="text" required="required" /><span class="highlight"></span><span
                                class="bar"></span>
                            <label>Or sign up with Facebook</label>
                        </div>
                    </div>

                    <div class="col-5">
                        <button class="nesto-btn w-100">SIGN UP</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>